.slideViewport {
  margin: 0 auto;
  overflow: hidden;
}

.slideViewport.image {
  max-width: 503px;
}

.slideViewport.text {
  max-width: 100%;
}

.slideContainer {
  white-space: nowrap;
}

.slide {
  display: inline-block;
}
